src/api/state-machines/create-agentcore-runtime.json
{
    "QueryLanguage": "JSONata",
    "Comment": "Agentic Chatbot Accelerator - create AgentCore Runtime",
    "StartAt": "Parse Input Arguments",
    "States": {
        "Parse Input Arguments": {
            "Type": "Pass",
            "Assign": {
                "agentName": "{% $states.input.agentName %}",
                "agentCfg": "{% $states.input.agentConfiguration %}",
                "architectureType": "{% $exists($states.input.architectureType) ? $states.input.architectureType : 'SINGLE' %}"
            },
            "Next": "Set Status to Creating"
        },
        "Set Status to Creating": {
            "Type": "Task",
            "Resource": "arn:aws:states:::dynamodb:updateItem",
            "Arguments": {
                "TableName": "${summaryTableArn}",
                "Key": {
                    "AgentName": {
                        "S": "{% $agentName %}"
                    }
                },
                "UpdateExpression": "SET #status = :status",
                "ExpressionAttributeNames": {
                    "#status": "Status"
                },
                "ExpressionAttributeValues": {
                    ":status": {
                        "S": "Creating"
                    }
                }
            },
            "Next": "Check on Memory Required"
        },
        "Check on Memory Required": {
            "Type": "Choice",
            "Choices": [
                {
                    "Condition": "{% $exists($agentCfg.useMemory) and $boolean($agentCfg.useMemory) = true %}",
                    "Next": "Check on Short Memory Exists"
                }
            ],
            "Default": "Assign Empty Memory ID"
        },
        "Assign Empty Memory ID": {
            "Type": "Pass",
            "Assign": {
                "memoryId": null
            },
            "Next": "Mint createdAt"
        },
        "Check on Short Memory Exists": {
            "Type": "Task",
            "Resource": "arn:aws:states:::lambda:invoke",
            "Arguments": {
                "FunctionName": "${checkOnExistingMemoryFunctionArn}",
                "Payload": {
                    "agentName": "{% $agentName %}"
                }
            },
            "Catch": [
                {
                    "ErrorEquals": [
                        "States.ALL"
                    ],
                    "Next": "Set Status to Failed"
                }
            ],
            "Assign": {
                "memoryId": "{% $states.result.Payload.body.memoryId %}"
            },
            "Next": "Memory Exists?"
        },
        "Memory Exists?": {
            "Type": "Choice",
            "Choices": [
                {
                    "Condition": "{% $boolean($memoryId) %}",
                    "Next": "Mint createdAt"
                }
            ],
            "Default": "Start Create Memory"
        },
        "Start Create Memory": {
            "Type": "Task",
            "Resource": "arn:aws:states:::lambda:invoke",
            "Arguments": {
                "FunctionName": "${startMemoryCreationFuncArn}",
                "Payload": {
                    "agentName": "{% $agentName %}"
                }
            },
            "Catch": [
                {
                    "ErrorEquals": [
                        "States.ALL"
                    ],
                    "Next": "Set Status to Failed"
                }
            ],
            "Assign": {
                "memoryId": "{% $states.result.Payload.body.memoryId %}"
            },
            "Next": "Wait for Memory Ready"
        },
        "Wait for Memory Ready": {
            "Type": "Wait",
            "Seconds": 30,
            "Next": "Check Memory Creation Status"
        },
        "Check Memory Creation Status": {
            "Type": "Task",
            "Resource": "arn:aws:states:::lambda:invoke",
            "Arguments": {
                "FunctionName": "${checkOnCreateMemoryFuncArn}",
                "Payload": {
                    "memoryId": "{% $memoryId %}"
                }
            },
            "Catch": [
                {
                    "ErrorEquals": [
                        "States.ALL"
                    ],
                    "Next": "Set Status to Failed"
                }
            ],
            "Assign": {
                "memoryCreationStatus": "{% $states.result.Payload.body.status %}"
            },
            "Next": "Memory Ready?"
        },
        "Memory Ready?": {
            "Type": "Choice",
            "Choices": [
                {
                    "Condition": "{% $memoryCreationStatus = 'FAILED' %}",
                    "Next": "Set Status to Failed"
                },
                {
                    "Condition": "{% $memoryCreationStatus = 'ACTIVE' %}",
                    "Next": "Mint createdAt"
                }
            ],
            "Default": "Wait for Memory Ready"
        },
        "Mint createdAt": {
            "Type": "Pass",
            "Comment": "Generate the agent version's createdAt once so HTTP and A2A branches inject the same value into their containers and the saved config row is keyed under the same partition. Without this, each branch's Lambda called int(time.time()) independently and the A2A twin's container could not load its config at startup.",
            "Assign": {
                "createdAt": "{% $floor($millis() / 1000) %}"
            },
            "Next": "Create Runtimes"
        },
        "Create Runtimes": {
            "Type": "Parallel",
            "Comment": "HTTP runtime is always created. A2A twin is created in parallel for SINGLE-architecture sub-agents so orchestrators can call them via A2A; other architectures short-circuit the second branch.",
            "Branches": [
                {
                    "StartAt": "Create HTTP Runtime",
                    "States": {
                        "Create HTTP Runtime": {
                            "Type": "Task",
                            "Resource": "arn:aws:states:::lambda:invoke",
                            "Arguments": {
                                "FunctionName": "${startRuntimeCreationFuncArn}",
                                "Payload": {
                                    "agentName": "{% $agentName %}",
                                    "agentCfg": "{% $agentCfg %}",
                                    "memoryId": "{% $memoryId %}",
                                    "architectureType": "{% $architectureType %}",
                                    "protocol": "HTTP",
                                    "createdAt": "{% $createdAt %}"
                                }
                            },
                            "Assign": {
                                "agentRuntimeId": "{% $states.result.Payload.body.agentRuntimeId %}",
                                "agentRuntimeArn": "{% $states.result.Payload.body.agentRuntimeArn %}",
                                "agentRuntimeVersion": "{% $states.result.Payload.body.agentRuntimeVersion %}"
                            },
                            "Next": "Wait for HTTP Runtime"
                        },
                        "Wait for HTTP Runtime": {
                            "Type": "Wait",
                            "Seconds": 10,
                            "Next": "Check HTTP Runtime Status"
                        },
                        "Check HTTP Runtime Status": {
                            "Type": "Task",
                            "Resource": "arn:aws:states:::lambda:invoke",
                            "Arguments": {
                                "FunctionName": "${checkOnRuntimeCreationFunc}",
                                "Payload": {
                                    "agentRuntimeId": "{% $agentRuntimeId %}",
                                    "agentRuntimeVersion": "{% $agentRuntimeVersion %}"
                                }
                            },
                            "Assign": {
                                "runtimeCreationStatus": "{% $states.result.Payload.body.status %}"
                            },
                            "Next": "HTTP Runtime Ready?"
                        },
                        "HTTP Runtime Ready?": {
                            "Type": "Choice",
                            "Choices": [
                                {
                                    "Condition": "{% $runtimeCreationStatus = 'FAILED' %}",
                                    "Next": "HTTP Runtime Failed"
                                },
                                {
                                    "Condition": "{% $runtimeCreationStatus = 'READY' %}",
                                    "Next": "HTTP Runtime Done"
                                }
                            ],
                            "Default": "Wait for HTTP Runtime"
                        },
                        "HTTP Runtime Failed": {
                            "Type": "Fail",
                            "Error": "RuntimeCreationFailed",
                            "Cause": "HTTP runtime creation failed"
                        },
                        "HTTP Runtime Done": {
                            "Type": "Pass",
                            "Output": {
                                "agentRuntimeId": "{% $agentRuntimeId %}",
                                "agentRuntimeArn": "{% $agentRuntimeArn %}",
                                "agentRuntimeVersion": "{% $agentRuntimeVersion %}"
                            },
                            "End": true
                        }
                    }
                },
                {
                    "StartAt": "A2A Twin Required?",
                    "States": {
                        "A2A Twin Required?": {
                            "Type": "Choice",
                            "Comment": "Only SINGLE images become sub-agents reachable over A2A. Orchestrator architectures (agents-as-tools, graph, swarm) stay HTTP-only.",
                            "Choices": [
                                {
                                    "Condition": "{% $architectureType = 'SINGLE' %}",
                                    "Next": "Create A2A Runtime"
                                }
                            ],
                            "Default": "No A2A Twin"
                        },
                        "No A2A Twin": {
                            "Type": "Pass",
                            "Output": {
                                "agentRuntimeArnA2A": null
                            },
                            "End": true
                        },
                        "Create A2A Runtime": {
                            "Type": "Task",
                            "Resource": "arn:aws:states:::lambda:invoke",
                            "Arguments": {
                                "FunctionName": "${startRuntimeCreationFuncArn}",
                                "Payload": {
                                    "agentName": "{% $agentName %}",
                                    "agentCfg": "{% $agentCfg %}",
                                    "memoryId": "{% $memoryId %}",
                                    "architectureType": "{% $architectureType %}",
                                    "protocol": "A2A",
                                    "createdAt": "{% $createdAt %}"
                                }
                            },
                            "Assign": {
                                "agentRuntimeIdA2A": "{% $states.result.Payload.body.agentRuntimeId %}",
                                "agentRuntimeArnA2A": "{% $states.result.Payload.body.agentRuntimeArn %}",
                                "agentRuntimeVersionA2A": "{% $states.result.Payload.body.agentRuntimeVersion %}"
                            },
                            "Next": "Wait for A2A Runtime"
                        },
                        "Wait for A2A Runtime": {
                            "Type": "Wait",
                            "Seconds": 10,
                            "Next": "Check A2A Runtime Status"
                        },
                        "Check A2A Runtime Status": {
                            "Type": "Task",
                            "Resource": "arn:aws:states:::lambda:invoke",
                            "Arguments": {
                                "FunctionName": "${checkOnRuntimeCreationFunc}",
                                "Payload": {
                                    "agentRuntimeId": "{% $agentRuntimeIdA2A %}",
                                    "agentRuntimeVersion": "{% $agentRuntimeVersionA2A %}"
                                }
                            },
                            "Assign": {
                                "runtimeCreationStatusA2A": "{% $states.result.Payload.body.status %}"
                            },
                            "Next": "A2A Runtime Ready?"
                        },
                        "A2A Runtime Ready?": {
                            "Type": "Choice",
                            "Choices": [
                                {
                                    "Condition": "{% $runtimeCreationStatusA2A = 'FAILED' %}",
                                    "Next": "A2A Runtime Failed"
                                },
                                {
                                    "Condition": "{% $runtimeCreationStatusA2A = 'READY' %}",
                                    "Next": "A2A Runtime Done"
                                }
                            ],
                            "Default": "Wait for A2A Runtime"
                        },
                        "A2A Runtime Failed": {
                            "Type": "Fail",
                            "Error": "RuntimeCreationFailed",
                            "Cause": "A2A twin runtime creation failed"
                        },
                        "A2A Runtime Done": {
                            "Type": "Pass",
                            "Output": {
                                "agentRuntimeArnA2A": "{% $agentRuntimeArnA2A %}"
                            },
                            "End": true
                        }
                    }
                }
            ],
            "Catch": [
                {
                    "ErrorEquals": [
                        "States.ALL"
                    ],
                    "Next": "Set Status to Failed"
                }
            ],
            "Assign": {
                "agentRuntimeId": "{% $states.result[0].agentRuntimeId %}",
                "agentRuntimeArn": "{% $states.result[0].agentRuntimeArn %}",
                "agentRuntimeVersion": "{% $states.result[0].agentRuntimeVersion %}",
                "agentRuntimeArnA2A": "{% $states.result[1].agentRuntimeArnA2A %}"
            },
            "Next": "Is New Runtime?"
        },
        "Set Status to Failed": {
            "Type": "Task",
            "Resource": "arn:aws:states:::dynamodb:updateItem",
            "Arguments": {
                "TableName": "${summaryTableArn}",
                "Key": {
                    "AgentName": {
                        "S": "{% $agentName %}"
                    }
                },
                "UpdateExpression": "SET #status = :status",
                "ExpressionAttributeNames": {
                    "#status": "Status"
                },
                "ExpressionAttributeValues": {
                    ":status": {
                        "S": "Create Failed"
                    }
                }
            },
            "Next": "Notify Client"
        },
        "Is New Runtime?": {
            "Type": "Choice",
            "Choices": [
                {
                    "Condition": "{% $agentRuntimeVersion = '1' %}",
                    "Next": "Set Status to Ready (New)"
                }
            ],
            "Default": "Get Current Runtime Summary"
        },
        "Set Status to Ready (New)": {
            "Type": "Task",
            "Resource": "arn:aws:states:::dynamodb:updateItem",
            "Arguments": {
                "TableName": "${summaryTableArn}",
                "Key": {
                    "AgentName": {
                        "S": "{% $agentName %}"
                    }
                },
                "UpdateExpression": "SET #status = :status, #id = :id, #arn = :arn, #arnA2A = :arnA2A, #nb = :nb, #qtv = :qtv, #at = :at",
                "ExpressionAttributeNames": {
                    "#status": "Status",
                    "#id": "AgentRuntimeId",
                    "#arn": "AgentRuntimeArn",
                    "#arnA2A": "AgentRuntimeArnA2A",
                    "#nb": "NumberOfVersions",
                    "#qtv": "QualifierToVersion",
                    "#at": "ArchitectureType"
                },
                "ExpressionAttributeValues": {
                    ":id": {
                        "S": "{% $agentRuntimeId %}"
                    },
                    ":arn": {
                        "S": "{% $agentRuntimeArn %}"
                    },
                    ":arnA2A": {
                        "S": "{% $agentRuntimeArnA2A ? $agentRuntimeArnA2A : '' %}"
                    },
                    ":status": {
                        "S": "Ready"
                    },
                    ":nb": {
                        "N": "{% $agentRuntimeVersion %}"
                    },
                    ":qtv": {
                        "M": {
                            "DEFAULT": {
                                "N": "1"
                            }
                        }
                    },
                    ":at": {
                        "S": "{% $architectureType %}"
                    }
                }
            },
            "Next": "Save Configuration"
        },
        "Get Current Runtime Summary": {
            "Type": "Task",
            "Resource": "arn:aws:states:::dynamodb:getItem",
            "Arguments": {
                "TableName": "${summaryTableArn}",
                "Key": {
                    "AgentName": {
                        "S": "{% $agentName %}"
                    }
                }
            },
            "Assign": {
                "currentNumberOfVersions": "{% $number($states.result.Item.NumberOfVersions.N) %}"
            },
            "Next": "Set Status to Ready (Update)"
        },
        "Set Status to Ready (Update)": {
            "Type": "Task",
            "Resource": "arn:aws:states:::dynamodb:updateItem",
            "Arguments": {
                "TableName": "${summaryTableArn}",
                "Key": {
                    "AgentName": {
                        "S": "{% $agentName %}"
                    }
                },
                "UpdateExpression": "SET #status = :status, QualifierToVersion.#default = :version, #nb = :count, #at = :at, #arnA2A = :arnA2A",
                "ExpressionAttributeNames": {
                    "#status": "Status",
                    "#default": "DEFAULT",
                    "#nb": "NumberOfVersions",
                    "#at": "ArchitectureType",
                    "#arnA2A": "AgentRuntimeArnA2A"
                },
                "ExpressionAttributeValues": {
                    ":version": {
                        "S": "{% $agentRuntimeVersion %}"
                    },
                    ":count": {
                        "N": "{% $string($currentNumberOfVersions + 1) %}"
                    },
                    ":status": {
                        "S": "Ready"
                    },
                    ":at": {
                        "S": "{% $architectureType %}"
                    },
                    ":arnA2A": {
                        "S": "{% $agentRuntimeArnA2A ? $agentRuntimeArnA2A : '' %}"
                    }
                }
            },
            "Next": "Save Configuration"
        },
        "Save Configuration": {
            "Type": "Task",
            "Resource": "arn:aws:states:::dynamodb:putItem",
            "Arguments": {
                "TableName": "${agentVersionTableArn}",
                "Item": {
                    "AgentName": {
                        "S": "{% $agentName %}"
                    },
                    "CreatedAt": {
                        "N": "{% $string($createdAt) %}"
                    },
                    "AgentRuntimeArn": {
                        "S": "{% $agentRuntimeArn %}"
                    },
                    "AgentRuntimeId": {
                        "S": "{% $agentRuntimeId %}"
                    },
                    "AgentRuntimeVersion": {
                        "S": "{% $agentRuntimeVersion %}"
                    },
                    "ConfigurationValue": {
                        "S": "{% $string($agentCfg) %}"
                    }
                }
            },
            "Next": "Wait Before Notify"
        },
        "Wait Before Notify": {
            "Type": "Wait",
            "Seconds": 5,
            "Next": "Notify Client"
        },
        "Notify Client": {
            "Type": "Task",
            "Resource": "arn:aws:states:::lambda:invoke",
            "Arguments": {
                "FunctionName": "${notifyRuntimeUpdateFunctionArn}",
                "Payload": {
                    "agentName": "{% $agentName %}"
                }
            },
            "End": true
        }
    }
}
